@font-face {
  font-family: shabnam;
  src: url('../../assets/fonts/Shabnam-FD.woff2');
}
@font-face {
  font-family: shabnamBold;
  src: url('../../assets/fonts/Shabnam-Bold-FD.woff2');
}
@font-face {
  font-family: shabnamLight;
  src: url('../../assets/fonts/Shabnam-Light-FD.woff2');
}
.navigation{
  display: flex;
  align-content: space-between;
  font-family: shabnam;
}
.navigation li{
  list-style: none;
}
button{
  font-family: shabnam;
}
button[mattooltip]{
  font-family: shabnam;
}
.navigation img{
  fill: white;
  height: 50px;
  width: 80px;
}
