@import '~@angular/material/theming';
@import 'src/ComponentAffection.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-amber, A700, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

  @include angular-material-theme($candy-app-theme);
  @include particle-background-theme($candy-app-theme);

$purple-primary: mat-palette($mat-purple,800);
$purple-accent:  mat-palette($mat-green, A200, A100, A400);
$purple-warn:    mat-palette($mat-deep-orange,A700);
$purple-theme:   mat-light-theme($purple-primary, $purple-accent, $purple-warn);

.purple{
  @include angular-material-theme($purple-theme);
  @include particle-background-theme($purple-theme);
}

$green-primary: mat-palette($mat-green,A700);
$green-accent:  mat-palette($mat-purple, 900, A200, A400);
$green-warn:    mat-palette($mat-pink,A400);
$green-theme:   mat-light-theme($green-primary, $green-accent, $green-warn);

.green{
  @include angular-material-theme($green-theme);
  @include particle-background-theme($green-theme);
}

$orange-primary: mat-palette($mat-red,A700);
$orange-accent:  mat-palette($mat-orange, 800, A200, A400);
$orange-warn:    mat-palette($mat-deep-orange,A700);
$orange-theme:   mat-light-theme($orange-primary, $orange-accent, $orange-warn);

.dark{
  @include angular-material-theme($orange-theme);
  @include particle-background-theme($orange-theme);
}


