.tile {
  border-radius: 0;
}
.artboard-container {
  height: 75vh;
}
.right {
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
  shape-outside: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 20px;
  float: right;
}
.right .image {
  background-blend-mode: screen;
  background:
    url(../../assets/images/Dentist.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.artboard-container .text-content p {
  text-align: justify;
  line-height: 3em;
  color: white;
  margin: 1em 0 1em 1em;
}
.left {
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 50% 0, 70% 100%, 0 100%);
  shape-outside: polygon(0 0, 50% 0, 70% 100%, 0 100%);
  shape-margin: 20px;
  float: left;
}
.left .image {
  background-blend-mode: screen;
  background:linear-gradient(to top left,rgba(255, 0, 0, 0.664),rgba(255, 208, 0, 0.644)),
    url(../../assets/images/pic5.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.text-content {
  width: 100%;
  height: 100%;
}
.artboard-container .text-content p {
  text-align: justify;
  line-height: 3em;
  color: white;
  margin: 1em 0 1em 1em;
}
/* .card {
  float: right;
  height: 80%;
  width: 23%;
  background-color: white;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.425);
  margin: 0 20px 0 0;
} */
.footer-background{
  position: absolute;
  background: url(../../assets/images/446.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
